*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.add-form {
  display: none;
  flex-direction: column;
  width: 500px;
  position: absolute;
  background-color: white;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  width: 50%;
  overflow: hidden;
  padding: 2rem;
  z-index: 2;
}
.close-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.close-modal button {
  height: 3rem;
  width: 5rem;
}

.product-section {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  justify-content: center;
}

.product-section section {
  margin: 1rem 0;
}
.product-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex-wrap: wrap;
}

.product-list a {
  text-decoration: none;
  color: unset;
}

.product-list ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-list li {
  width: 20%;
  margin: 1rem;
  text-decoration: none;
}
.product-card {
  box-shadow: 0px 0px 5px 1px rgba(4, 226, 255, 0.612);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(144, 200, 207, 0.43);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 20rem;
  width: 100%;

  padding: 0.5rem;
}

.product-image {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 80%;
  max-height: 80%;
}

.product-image img {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}

.product-info {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.offer-section {
  padding: 1px;
  max-width: 100%;
}

.offer-section ul {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 260px;
  overflow: auto;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-timeline-axis: horizontal;
  scroll-behavior: smooth;
  display: inline-flex;
  flex-flow: row;
  list-style: none;
  padding: 0;
}

.offer-section ul ::before {
  background-color: red;
}

.offer-section ul::-webkit-scrollbar {
  display: none;
  transition: 2s ease-in;
}

.offer-list li a {
  text-decoration: none;
  color: unset;
}
.offer-list li {
  max-height: 100%;
  width: 19%;
  margin: 0.9rem;
  padding: 0;
  scroll-snap-align: start;
  transition: all 0.2s;
}

.offer-list .product-card {
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  height: 100%;
}

.ul-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.ul-section button {
  margin: 0 1rem;
  height: 2rem;
  width: 3rem;
  background: none;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-list li .product-name {
  color: blue;
  overflow: hidden;
  display: flex;
  overflow-wrap: break-word;
}

.offer-list li .product-price {
  text-decoration: line-through;
  color: red;
  font-style: italic;
  opacity: 60%;
}

.offer-price {
  display: flex;
  flex-direction: column;
}

.product-offer-price {
  color: green;
}

.offer-flag {
  padding: 2px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-style: italic;
  font-weight: 500;
  background-color: red;
  position: absolute;
  top: 49px;
  left: auto;

  margin: 0;
  z-index: 1;
}

.category-section {
  height: auto;
}

.category-section ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
}

.category-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  min-width: 15%;
  max-width: 150px;
  max-height: 100%;
  flex-grow: 1;
  margin: 1rem;
  box-sizing: border-box;
}

.category-li:hover .category-image-div img {
  transform: scale(1.05);
}

.category-li span {
  transition: 0.15s ease-in;
}
.category-li:hover span {
  color: rgb(16, 200, 214);
  text-decoration: underline;
}

.category-image-div {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  overflow: hidden;
  height: 150px;
  max-width: 150px;
  min-width: 150pk;
  display: flex;
  border: 1px solid;
  object-fit: fill;
  border-radius: 100%;
  transition: 0.95s ease-in all;
  object-fit: cover;
}

.category-image-div img {
  transition: opacity 1.2s ease-in-out,
    transform 0.95s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5760ff;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 768px) {
  .product-section{
    padding: 0.1rem;
  }

  .product-list{
    padding: 0.3rem;
  }
  .category-section ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: flex-start;
    
  }


  .category-section ul::-webkit-scrollbar{
display: none;
  }

  .category-li{
    min-width: auto;
    
  }

  .category-section a{
    text-decoration: none;
    color: black;

  }
  .product-card{
    box-shadow:none;
    border: 1px solid;
    display: flex;

    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0;


  }

  .product-image{
    height: 100%;
    width: 65%;
  }
  .product-image img{
 height: 100%;
  }

  .product-info{
    width: 100%;
  }
  .product-list ul {
   
    box-sizing: border-box;
    display: grid;
    gap: 10px;
    grid-template-columns: minmax(0, 1fr);
  }

  .product-list li {

    width: auto;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    

    
  }
}
